<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    {% if site.fathom_analytics %}
      <script>
      (function(f, a, t, h, o, m){
      	a[h]=a[h]||function(){
      		(a[h].q=a[h].q||[]).push(arguments)
      	};
      	o=f.createElement('script'),
      	m=f.getElementsByTagName('script')[0];
      	o.async=1; o.src=t; o.id='fathom-script';
      	m.parentNode.insertBefore(o,m)
      })(document, window, '//analytics.himpfen.com/tracker.js', 'fathom');
      fathom('set', 'siteId', '{{ site.fathom_analytics }}');
      fathom('trackPageview');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      <h1>{{ page.title }}</h1>

      {{ content }}

      <footer class="site-footer">
          <span class="site-footer-owner">Copyright &copy; {{ site.title }} - All Rights Reserved.</span>
        <span class="site-footer-credits"></span>
      </footer>
    </main>
  </body>
</html>
